---
// components/Header.astro
import logo from '../images/logo.png';
---
<header class="flex justify-between items-center p-4">
    <!-- <img src={logo.src} alt="Logo" class="h-14"> -->
     <h1><span class="font-bold text-gray-400">JOSE</span><span class="font-bold ">MATICO.</span></h1>
    <span class="text-sm tracking-widest uppercase ">Photography</span>
    <a href="mailto:hello@josematico.com" class="text-sm tracking-widest uppercase ">hello@josematico.com</a>
  </header>
