---
import InfiniteScroll from './InfiniteScroll.astro';

const fetchInitialPosts = async () => {
  try {
    const baseUrl = import.meta.env.SITE ?? 'http://localhost:4321';
    const response = await fetch(`${baseUrl}/api/instagram`);
    if (!response.ok) throw new Error('Error al obtener publicaciones');
    const data = await response.json();
    return data.data;
  } catch (error) {
    console.error('Error detallado:', error);
    return { error: error.message };
  }
};

const initialPosts = await fetchInitialPosts();
---

{initialPosts.error ? (
  <div class="error-message">Error al obtener las publicaciones: {initialPosts.error}</div>
) : (
  <InfiniteScroll initialPosts={initialPosts} />
)}